<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kavi</title>
</head>
<body>
    <h1>Ye HTML nahi ejs hai babu!!</h1>
    <h1><%= 2+2 %></h1>
    ////Ye ejs kya karta hai jo file render ho rahi hai views ki ejs file wo uska replicate ek actual html file banata hai jo ki static hota hai uss <%= %> inn sab tag ko solve karke jo value aayegi unhe statically rakhta hai ussi jagah!! -->
     <!-- Phir wo static html file browser ko bhejega ....kyunki brwser toh ejs samjhta hi nahi hai!! -->
<!-- </body> -->
<!-- </html> -->

<!-- --------------------------- DAY 12 -------------------------->
<!-- Jab bhi data url mai dikhe samajh jana ki method GET tha okk -->
 <!-- Jab ham form submit karte hai toh jo data url mai dikhta hai usse querry bolte hai ok  -->
  <!-- So we have to use req.query in place of req.params b|c params is used for dyanamic routing only -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/check" > Ye route wo hai jaha form submit hone par redirect karna hai -->
        <!-- <input type="text" placeholder="name" name="name">Yhaan name rakhna anivarya agar name na hua toh backend tak data na pahunchega  
        <input type="email" placeholder="email" name="email">Jo yhaan name hoga na ussi name se backend par data pahunchega
        <input type="submit">
    </form>
</body>
</html> -->

<!-- --------------------------- DAY 13 -------------------------->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/check" method="post"> Ye route wo hai jaha form submit hone par redirect karna hai 
        <input type="text" placeholder="name" name="name"> Yhaan name rakhna anivarya agar name na hua toh backend tak data na pahunchega  
        <input type="email" placeholder="email" name="email"> Jo yhaan name hoga na ussi name se backend par data pahunchega 
        <input type="submit">
    </form>
</body>
</html> -->