<!-- include header -->
<%- include('./partials/header') %>

    <h1>Ye html nahi babu ejs hai !!</h1>
    <!-- Ye hai apun ka bootstrap script -->
    <button id="btn">Jhatu</button>
<!-- Include footer  -->
<%- include('./partials/footer') %>
