<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mera fav no <%= 2+2+3 %> hai</h1>
    
    <!-- <h1>Mera random no hai <%= Math.floor( Math.random()*100 ) %></h1> -->

    <h1>Mera random no hai <%= x %></h1>
    <% if(x%2==0){ %>
        <h1>Even No</h1>
    <% }else { %> 
        <h1>Odd No</h1>
    <% } %>
</body>
</html>