<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <form action="/create" method="post">
        <label for="name"name="name" >Enter person name:</label>
        <input type="text" name="name"><br>
        <label for="age" name="age">Enter the age:</label>
        <input type="number" name="age"><br>
        <label for="email" name="email">Enter the email:</label>
        <input type="email" name="email"><br>
        <label for="DOB" name="DOB">Enter the DOB:</label>
        <input type="date" name="DOB"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>